<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../../css/login-register/log-reg.css">
    <link rel="icon" type="image/x-icon" href="../../../assets/hospital-gradient.ico">
</head>

<body>
    <div class="tarjeta">
        <h1>Registro</h1>
        <form onsubmit="window.location.href='../main-menu.html'; return false;">
            <input type="text" name="usuario" placeholder="Usuario">

            <!-- Campo de Contraseña único con ojito -->
            <div class="password-wrapper">
                <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" minlength="8" maxlength="16" required>
                <button type="button" id="togglePasswordBtn" class="btn-toggle-eye">
                 <img src="../../../assets/Icons/eye.svg" id="eyeIcon" alt="Mostrar contraseña">
                </button>
            </div>

                <!-- BARRA DE SEGURIDAD -->
        <div class="strength-meter">
        <div id="strengthBar" class="strength-bar"></div>
        </div>
        <span id="strengthText" class="strength-text"></span>


            <input type="text" name="Email" placeholder="Email">
            <input type="text" name="CI" placeholder="CI">
            <button type="submit" onclick="window.location.href='../../../index.html'; return false;">Registrarse</button>
        </form>
        <p>
            ¿Ya tienes cuenta?
            <a href="../../../index.html">Iniciar Sesion</a>
        </p>
    </div>

    <!-- Enlace al archivo JS usando tus rutas relativas originales -->
    <script src="../../js/login-register/register.js"></script>
</body>

</html>
